/* Base Styles (Mobile-First) */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #dedede;
  padding: 5px;
  margin: 15px;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.95em;
}

h2 {
  text-align: center;
}

li {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

figure {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px;
}

figure img {
  width: 100%;
  border: 5px solid blue;
  border-radius: 35px; 

.label {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (min-width: 772px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid figure {
    border-radius: 50%;
  }

  .grid figure:nth-last-of-type(1) {
    grid-column: span 2;
  }
}


@media (min-width: 992px) {
  .grid figure {
    border-radius: 0;
  }

  .grid figure:nth-child(3n) {
    grid-column: span 2;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  figure {
    background-color: #222;     /* Dark background */
    color: #f5f5f5;             /* Light font color */
    border-color: black;        /* Black border */
  }

  body {
    background-color: #121212;  /* Dark body background */
    color: #f5f5f5;             /* Light body font color */
  }
}
